{% extends 'dealer/master.html' %}
{% block content %}


        <main id="main" class="main">

    <div class="pagetitle">
      <h1>Feedback</h1>
    </div><!-- End Page Title -->
        {{error}}

    <section class="section contact">
        <div class="col-xl-8">
          <div class="card p-4">
            <form method="POST" action="{% url 'feedback_1' %}" class="php-email-form">
                {% csrf_token %}
              <div class="row gy-4">
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message"></textarea>
                </div>
                  <button type="submit">Send Message</button>

              </div>
            </form>
          </div>

        </div>
    </section>

  </main><!-- End #main -->


 {% endblock %}