<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  {% csrf_token %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Property Pursuit  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'landing/img/FLOGO.jpeg' %}" type="image/x-icon">
  <!--  <link rel="shortcut icon" href="{% static 'landing/img/FLOGO.ico' %}" type="image/x-icon">-->
<!--  <link href="{% static 'landing/img/FLOGO.ico' %}" rel="icon">-->
<!--  <link href="{% static 'landing/img/FLOGO.ico' %}" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dealer/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'dealer/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header style="background-color: #003f5c" id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'dashboard_1' %}" class="logo d-flex align-items-center">
        <img style="border-radius: 100px" src="{% static 'landing/img/FLOGO.jpeg' %}" alt="">
        <span style="color: #FFF" class="d-none d-lg-block">Property Pursuit</span>
      </a>
      <i style="color: #FFF" class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" action="#">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown pe-3" style="margin-right: 5px;">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'profile_1' %}" data-bs-toggle="dropdown">
            <img src="{% static 'dealer/img/Profile-image.jpeg' %}" alt="Profile" class="rounded-circle">
            <span style="color: #FFF;" class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.username}}</h6>
              <span>Welcome To Property Pursuit</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile_1' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>



            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}" onclick="return confirmLogout()"><i class="bi bi-box-arrow-left"></i>
                          <span>Log Out</span>
                             <script>
                                function confirmLogout(){
                                var result= confirm("Confirm Logout?");
                                return result;
                                }
                            </script>
                        </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside style="background-color: #003f5c" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a style="background-color: #003f5c" class="nav-link " href="{% url 'dashboard_1' %}">
          <i style="color: #FFF" class="bi bi-grid"></i>
          <span style="color: #FFF">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


        <!-- Start Property nav -->
       <li style="background-color: #003f5c" class="nav-item">
        <a style="background-color: #003f5c" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i style="color: #FFF" class="bi bi-menu-button-wide"></i><span style="color: #FFF">Property</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'add_details' %}">
              <i style="color: #FFF" class="bi bi-circle"></i><span style="color: #FFF">Add Property Details</span>
            </a>
          </li>

          <li>
            <a href="{% url 'manage_details' %}">
              <i style="color: #FFF" class="bi bi-circle"></i><span style="color: #FFF">Manage Property Details</span>
            </a>
          </li>
        </ul>
          <!-- End Property nav -->

      <!-- Start Booking nav -->
      <li class="nav-item">
        <a style="background-color: #003f5c" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i style="color: #FFF" class="bi bi-menu-button-wide"></i><span style="color: #FFF">Bookings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

       <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'booking_history' %}">
              <i style="color: #FFF" class="bi bi-circle"></i><span style="color: #FFF">Booking Requests</span>
            </a>
          </li>
        </ul>



      </li>
      <!-- End Booking nav -->

      <li style="color: #FFF" class="nav-heading">Pages</li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-contact.html">-->
<!--          <i class="bi bi-chat"></i>-->
<!--          <span>Chats</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-contact.html">-->
<!--          <i class="bi bi-file-earmark"></i>-->
<!--          <span>Rent agreement</span>-->
<!--        </a>-->
<!--      </li>-->

      <li class="nav-item">
        <a style="background-color: #003f5c" class="nav-link collapsed" href="{% url 'profile_1' %}">
          <i style="color: #FFF" class="bi bi-person"></i>
          <span style="color: #FFF">Profile</span>
        </a>
      </li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="{% url 'contact' %}">-->
<!--          <i class="bi bi-envelope"></i>-->
<!--          <span>Contact</span>-->
<!--        </a>-->
<!--      </li>-->

      <li class="nav-item">
        <a style="background-color: #003f5c" class="nav-link collapsed" href="{% url 'feedback_1' %}">
          <i style="color: #FFF" class="bi bi-chat-square-text"></i>
          <span style="color: #FFF">Feedback</span>
        </a>
      </li>

      <!-- End Contact Page Nav -->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-register.html">-->
<!--          <i class="bi bi-card-list"></i>-->
<!--          <span>Register</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Register Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-login.html">-->
<!--          <i class="bi bi-box-arrow-in-right"></i>-->
<!--          <span>Login</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Login Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-error-404.html">-->
<!--          <i class="bi bi-dash-circle"></i>-->
<!--          <span>Error 404</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Error 404 Page Nav &ndash;&gt;-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="pages-blank.html">-->
<!--          <i class="bi bi-file-earmark"></i>-->
<!--          <span>Blank</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Blank Page Nav &ndash;&gt;-->

    </ul>

  </aside>


{% block content %}


{% endblock %}



<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Property Pursuit</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
<!--      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dealer/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'dealer/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dealer/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dealer/js/main.js' %}"></script>

</body>

</html>