{% extends 'dealer/master.html' %}
{% load static %}
{% block content %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Property Details</h1>
        <h1>
            <a href="{% url 'add_details' %}"><input style="margin-left:40%" type="button" value="Add Property" class="btn btn-primary"/></a>
        </h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Properties</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                  <tr>
                    <thead>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Area</th>
                    <th scope="col">Rent Price</th>
                    <th scope="col">Amenities</th>
                    <th scope="col">Images</th>
                    <th scope="col" style="width: 14%;">Manage</th>
                  </tr>
                    </thead>
                <tbody>
                 {% for d in P_E %}
                 <tr>
                   <td>{{forloop.counter}}</td>
                   <td>{{d.p_name}}</td>
                   <td>{{d.p_address}}</td>
                   <td>{{d.p_area}}</td>
                   <td>{{d.p_rentprize}}</td>
                   <td>{{d.a_name}}</td>
                   <td>
                     <div id="carouselExampleIndicators{{ d.id }}" class="carousel slide" style="width: 79.5%;" data-bs-ride="carousel">
                          <div class="carousel-inner">
                              {% for image in photos %}
                                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                      <img src="{{ image.p_image.url }}" class="d-block" style="width:300px; height:200px;" alt="Image {{ forloop.counter }}">
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ d.id }}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ d.id }}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                  </div>
                              {% endfor %}
                          </div>
                     </div>

                   </td>
                    <td>
                        <a href="{% url 'edit_property' d.id %}"><i onclick="return confirmEdit()" class="bi bi-pencil-square"></i>
                            <script>
                                function confirmEdit(){
                                var result= confirm("Confirm Edit?");
                                return result;
                                }
                            </script>
                        </a>
                        <a href="{% url 'delete_property' d.pk %}"><i onclick="return confirmDelete()" class="bi bi-trash3"></i>
                             <script>
                                function confirmDelete(){
                                var result= confirm("Confirm Delete?");
                                return result;
                                }
                            </script>
                        </a>
                        <a href="{% url 'showdetails' d.id %}"><i class="bi bi-list"></i>Show More</a>
                    </td>
                 </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}
  </main><!-- End #main -->