{% extends "client/master.html" %}
{% load static %}
{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <img src="{% static 'client/images/hero_bg_2.jpg' %}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
        <div class="site-section-title">
          <h2>Our Company</h2>
        </div>
        <p class="lead">Our mission is to touch with the client Where our Capabilities may successful Meet with the
          requirements of our clients.</p>
        <!-- <p><a href="#" class="btn btn-outline-primary rounded-0 py-2 px-5">Read More</a></p> -->
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <div class="site-section-title">
          <h2>Frequently Ask Questions</h2>
        </div>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maiores quisquam saepe architecto error corporis aliquam. Cum ipsam a consectetur aut sunt sint animi, pariatur corporis, eaque, deleniti cupiditate officia.</p> -->
      </div>
    </div>
    <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
      <div class="col-md-8">
        <div class="accordion unit-8" id="accordion">
          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
            </h3>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="body-text">
                <p>Property pursuit is a web application of real estate to find a best property as per your convince.
                  Honest and to -the - point , our aim is to get things done with efficiency and skill.
                  Gone are the days when people used to deal property matters on the basis of "mouth to mouth publicity"
                  or nearby dealers. Globalization and fast lifestyle has encouraged the real estate industry to step in
                  E-World. Now active partakers of real estate world are eagerly seeking the right options to establish
                  themselves in E- Real Estate World. "Property pursuit" is a solution to all what bothers to people who
                  all are dealing in properties or people who all are searching property. As one of the leading property
                  portals, "property pursuit" has tuned itself with pulse of real estate sector. Moving ahead with
                  esteemed registered users and regularly visited by players of real estate industry, "property pursuit
                  " has become the pivot for real- estate sector.
                  Our passion is to give you best property to you and to give without brokerage .
                  Representing the chater homes, rental home . We make sure that you will find your dream home in the
                  best price without brokerage. </p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false"
                aria-controls="collapseTwo">How much pay for 3 months?<span class="icon"></span></a>
            </h3>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="body-text">
                <p>Rs 2800 only for the 3 months subscription of Property Pursuit</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false"
                aria-controls="collapseThree">Why should I Buy an Subscription? <span class="icon"></span></a>
            </h3>
            <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="body-text">
                <p>In case of Buying properties or to access more features and properties you need an subscription</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
          <div class="accordion-item">
            <h3 class="mb-0 heading">
              <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false"
                aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
            </h3>
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="body-text">
                <p>In case of any querries or issues you should contact on mail mentioned</p>
              </div>
            </div>
          </div> <!-- .accordion-item -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>