{% extends 'client/master.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="site-section site-section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="carouselExampleIndicators{{ d.id }}" style="width: 100%;" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for image in photos %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.p_image.url }}" class="d-block" style="height: 600px; width: 1000px;" alt="Image {{ forloop.counter }}">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ d.id }}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ d.id }}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              {% endfor %}
            </div>
          <div class="bg-white property-body border-bottom border-left border-right">
            <div class="row mb-5">
              <div class="col-md-6">
                <strong class="text-success h1 mb-3">Rs {{o.p_rentprize}}/month</strong>
              </div>
            </div>
            <div class="row mb-5">
               <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Property Name</span>
                <strong class="d-block">{{o.p_name}}</strong>
              </div>
              <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Home Type</span>
                <strong class="d-block">{{o.p_type}}</strong>
              </div>
               <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Area</span>
                <strong class="d-block">{{o.p_area}}</strong>
              </div>
              <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Year Built</span>
                <strong class="d-block">{{o.p_age}}</strong>
              </div>

              <div class="col-md-6 col-lg-4 text-center border-bottom border-top py-3">
                <span class="d-inline-block text-black mb-0 caption-text">Price</span>
                <strong class="d-block">{{o.p_rentprize}}</strong>
              </div>
            </div>
        <div class="col-lg-4">
          <div class="bg-white widget border rounded">
            <h3 class="h4 text-black widget-title mb-3">Contact Dealer</h3>
            <form method="post" action="{% url 'sendrequest' o.id %}" class="form-contact-agent">
              {% csrf_token %}
              <div class="form-group">
                <input type="submit" onclick="return request()" class="btn btn-primary" value="Send Request">
                <script>
                      function request(){
                      var result=confirm("Send Request?");
                      return result
                      }
                </script>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>