{% extends 'client/master.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'landing/img/FLOGO.jpg' %}" type="image/x-icon">
  <link href="{% static 'landing/img/FLOGO.jpg' %}" rel="icon">
  <link href="{% static 'landing/img/FLOGO.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'dealer/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'dealer/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'dealer/css/bootstrap.css' %}" rel="stylesheet">
</head>
{% block content %}
<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{% static 'dealer/img/Profile-image.jpeg' %}" alt="Profile" class="rounded-circle">
              <h2>{{user.username}}</h2>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user.username}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="post" action="{% url 'profile' %}">
                    {% csrf_token %}
                    {{error}}
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_username" type="text" class="form-control" id="new_username" value="{{user.username}}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_email" type="email" class="form-control" id="new_email" value="{{user.email}}">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  <!-- Vendor JS Files -->
  <script src="{% static 'dealer/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'dealer/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'dealer/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'dealer/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dealer/js/main.js' %}"></script>
</body>
  </main><!-- End #main -->
{% endblock %}